DATABASE_URL="postgresql://user:password@localhost:5432/db_name"
PORT=4001
JWT_SECRET="your_jwt_secret"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
GROQ_API_KEY="your_groq_api_key"
REDIS_URL="redis://localhost:6379"
MAIL_PASS="your_mail_smtp_password"
MAIL_USER="your_email_address"
CLOUDINARY_KEY_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"