# =========================
# Node Modules
# =========================
node_modules/
# =========================
# Build Output
# =========================
dist/
build/
*.tsbuildinfo
src/prisma/generated/prisma

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example
!.env.examples

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Coverage
# =========================
coverage/

# =========================
# Temporary Files
# =========================
tmp/
temp/

# =========================
# Cache
# =========================
.cache/
.next/
out/

# =========================
# Misc
# =========================
*.tgz
*.pid
*.seed

# =========================
# Agent Rules
# =========================
.agents/rules/
api.md
PRD.md